
  
  .background-image {
    position: absolute;
    background-image: url("https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=600");
   
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 500px;
    left: 60%;
  }
  .heading{
    text-align: center;
  }

  .week{
    position: absolute;
    left: 0%;
    color:black;
    font-size: 30px;
    right: 40%;
  }
 
  